:root {
    --fuente-principal: "Lora", serif;
    --fuente-titulos: "Archivo Black", sans-serif;
    --color-fondo: #1B1B1B;
    --color-titulos: #E03C31;
    --color-texto: #F8F8F0;
    --color-links: #FFC107;
    --color-bronce: #A97142;
    --color-plata: #999B9B;
    --color-hover-links: #F8D3C3;
    --color-fieldset: #A52A2A;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

h1 {
    font-family: var(--fuente-titulos);
    color: var(--color-titulos);
    text-align: center;
    animation: aparecer 1.9s ease;
}

h2 {
    font-family: var(--fuente-titulos);
    color: var(--color-titulos);
}

a {
    display: inline-block;
    color: var(--color-links);
    transition: color .7s, transform .5s;
    text-decoration: none;
}

a:hover {
    color: var(--color-hover-links);
    transform: scale(1.1);
}

header {
    padding: 20px;
}

nav ul {
    display: flex;
    gap: 40px;
}

.redondas {
    border-radius: 40px;
    box-shadow: 0px 10px 10px var(--color-links);
    width: 200px;
    display: inline-block;
}

#bronce {
    box-shadow: 0px 10px 10px var(--color-bronce);
}

#plata {
    box-shadow: 0px 10px 10px var(--color-plata);
}

#oro {
    box-shadow: 0px 10px 10px var(--color-links);
}

table,
th,
td {
    border: 1px solid var(--color-links);
    padding: 20px;
}

.contenedor-secciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    align-items: start;
}

.links-finales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    animation: aparecer 1s ease;
}

.float-der {
    float: right;
    margin-left: 20px;
}

.float-izq {
    float: left;
    margin-right: 20px;
}

#dificultad {
    margin-top: 50px;
    margin-bottom: 50px;
}

#horas {
    margin-bottom: 130px;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#imagen-principal {
    width: 100%;
    animation: aparecer 1s ease;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-radius: 50px;
    color: var(--color-texto);
    background-color: var(--color-fieldset);
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    fieldset {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }
    .contenedor-secciones {
        grid-template-columns: 1fr;
    }
    fieldset {
        grid-template-columns: 1fr;
    }
}

.par,
.par2,
.par3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.boton-enviar {
    grid-column: 1 / -1;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    transition: .5s, transform .5s;
    border-radius: 50px;
}

.boton-enviar:hover {
    cursor: pointer;
    transform: translateY(-5px);
    color: var(--color-fondo);
    background-color: var(--color-links);
}

input[type="range"] {
    accent-color: var(--color-links);
}

.contenedor-secciones section {
    margin-top: 50px;
    border: 1px solid var(--color-fieldset);
    padding: 20px;
    border-radius: 10px;
}